# Grype Vulnerabilities for {{.Source.Target.UserInput}}

| Package | Version Installed | Vulnerability ID | Severity |
| --- | --- | --- | --- |
{{- range .Matches}}
| {{.Artifact.Name}} | {{.Artifact.Version}} | [{{.Vulnerability.ID}}](https://cve.mitre.org/cgi-bin/cvename.cgi?name={{.Vulnerability.ID}}) | {{.Vulnerability.Severity}} |
{{- end}}
