name: Manually trigger to add mapping version
on:
  workflow_dispatch:
    inputs:
      agent-version:
        description: "The version of the agent to add"
        required: true
        type: string
      oss-version:
        description: "The version of the underlying OSS Fluent Bit that the agent is based on"
        required: true
        type: string
      dry-run:
        description: "Whether to run in dry-run mode"
        required: false
        type: boolean
        default: false
jobs:
  add-mapping-version:
    uses: ./.github/workflows/call-add-mapping-version.yaml
    with:
      agent-version: ${{ inputs.agent-version }}
      oss-version: ${{ inputs.oss-version }}
      dry-run: ${{ inputs.dry-run }}
